<!--
#Листинг 4.6: Home-страница без индивидуального заголовка страницы. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb
Листинг 5.2: Home-страница со ссылкой на страницу регистрации. app/views/static_pages/home.html.erb 
-->


 
<div class="center jumbotron">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
<h1> ~/ch10 -b 10.1
<p>
 </h1>
</p>
<%= link_to image_tag("241084701.gif", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
