#Листинг 10.7: Сгенерированное HTML-представление для активации аккаунта. app/views/user_mailer/account_activation.html.erbЛистинг 10.13: HTML-представление для активации аккаунта. app/views/user_mailer/account_activation.html.erb 

<h1>Sample App</h1>

<p>Привет, <%= @user.name %>!</p>

<p>
Добро пожаловать в Учебное Приложение! Перейдите по ссылке для активации аккаунта:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>

