<!--#Листинг 9.34: Представление для списка пользователей. app/views/users/index.html.erbЛистинг 9.46: Первая попытка рефакторинга index-представления. app/views/users/index.html.erb Листинг 9.48: Полностью реорганизованный список пользователей. ЗЕЛЕНЫЙ app/views/users/index.html.erb 
-->
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>


