<!-- #Листинг 7.4: Представление-заглушка для отображения информации пользователя. app/views/users/show.html.e 
Листинг 7.8: Представление, показывающее пользователя с именем и граватаром. app/views/users/show.html.erb
Листинг 7.10: Добавление боковой панели к представлению пользователя show. app/views/users/show.html.erb
-->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

